APP_NAME="Company Profile"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=Company-Profile
DB_USERNAME=postgres
DB_PASSWORD=postgres

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
CACHE_STORE=file
QUEUE_CONNECTION=sync

# Gmail SMTP
# Aktifkan Verifikasi 2 Langkah pada akun Google, lalu buat App Password.
MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME="alamatgmailanda@gmail.com"
MAIL_PASSWORD="APP_PASSWORD_16_KARAKTER"
MAIL_FROM_ADDRESS="alamatgmailanda@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"
